<h1>Messages</h1>
<hr>

<div id="chat-messages" #chatbox>
    <li class="message-item" *ngFor="let msg of messages">
        {{ msg.from }} : {{ msg.body }}
    </li>
</div>

<form (submit)="sendMessage()">
    <div class="form-group">
        <input [(ngModel)]="message" type="text" autocomplete="off" class="form-control chat-input" name="message"
            id="message" placeholder="Write your message here..." autofocus>
    </div>
    <button type="submit" name="sendBtn" id="sendBtn" class="btn btn-success btn-block">Send</button>
</form>